<%= render 'shared/errors', obj: article %>

<div class="row">
    <div class="col-8">
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class:"form-control", placeholder: "Title of Article", autofocus:true %>
                </div>
                <div class="form-group">
                    <%= f.label :content%>
                   <%= f.text_area :content, rows: 50, class:"form-control", placeholder: "Body of article", id: "article" %>
                   <script>
                        CKEDITOR.replace( 'article', {
                            enterMode: CKEDITOR.ENTER_BR,
                            autoParagraph: false
                        });
                   </script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="panel panel-default ">
            <div class="panel-body">
                <h5>Meta-data</h5>
                <div class="form-group">
                    <%= f.label :Title %>
                    <%= f.text_field :meta_data_title, class:"form-control", placeholder: "Title", autofocus:true %>
                </div>
                <div class="form-group">
                    <%= f.label :Description %>
                    <%= f.text_field :meta_data_description, class:"form-control", placeholder: "Description" %>
                </div>
                <div class="form-group">
                    <%= f.label :Keywords %>
                    <%= f.text_field :meta_data_keywords, class:"form-control", placeholder: "Keywords" %>
                </div>
                <hr>
                <h5>Tags</h5>
                <div class="form-group">
                    <%= f.text_field :tag_list, value: article.tag_list.to_s, class:"form-control", placeholder: "Tags" %>
                </div>
                <hr>
                <h5>Timestamps</h5>
                <div class="form-group">
                    <%= f.label :created_at %>:
                    <div class="input-group date">
                        <%= f.text_field :created_at, value: article.created_at.strftime('%Y-%m-%d'), class: "form-control datepicker" %>
                        <span class='input-group-addon'>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                        <%= f.label :updated_at %>:
                        <div class="input-group date">
                            <%= f.text_field :updated_at, value: article.updated_at.strftime('%Y-%m-%d'), class: "form-control datepicker" %>
                            <span class='input-group-addon'>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>

                <div class="float-sm-right">
                    <% if article.published? %>
                        <%= f.submit "Update", class: "btn btn-primary" %>
                        <%= f.submit "Unpublish", class: "btn btn-secondary" %>
                    <% else %>
                        <%= f.submit "Publish", class: "btn btn-primary" %>
                        <%= f.submit "Save", class: "btn btn-secondary" %>
                    <% end %>

                    <% if article.draft?%>
                        <%= link_to "Cancel", admin_path, class: "btn btn-light" %>
                    <% else %>
                        <%= link_to "Cancel", article_path(@article), class: "btn btn-light" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
