<%= render 'shared/errors', obj: @article %>

    <div class="row">
        <div class="col-12">
            <%= form_for(@article, :html => {class: "form-horizontal", role: "form" }) do |f| %>
                <div class="form-group">
                    <%= f.label :title %>
                        <%= f.text_field :title, class:"form-control", placeholder: "Title of Article", autofocus:true %>
                </div>
                <div class="form-group">
                    <%= f.label :content%>
                        <%= f.cktext_area :content, rows: 50, class:"form-control", placeholder: "Body of article", id: "article" %>
                </div>
                <hr>
                <h2>Meta-data</h2>
                <div class="form-group">
                    <%= f.label :Title %>
                        <%= f.text_field :meta_data_title, class:"form-control", placeholder: "Title", autofocus:true %>
                </div>
                <div class="form-group">
                    <%= f.label :Description %>
                        <%= f.text_field :meta_data_description, class:"form-control", placeholder: "Description", autofocus:true %>
                </div>
                <div class="form-group">
                    <%= f.label :Keywords %>
                        <%= f.text_field :meta_data_keywords, class:"form-control", placeholder: "Keywords", autofocus:true %>
                </div>
                <div class="float-sm-right">
                    <% if @article.published? %>
                        <%= f.submit "Update", class: "btn btn-primary" %>
                        <%= f.submit "Unpublish", class: "btn btn-default" %>
                    <% else %>
                        <%= f.submit "Publish", class: "btn btn-primary" %>
                        <%= f.submit "Save as Draft", class: "btn btn-default" %>
                    <% end %>
                    
                    <%= link_to "Cancel", request.referer.present? ? request.referer : default_path, class: "btn btn-secondary" %>
                </div>
                <% end %>
        </div>
    </div>