<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="">
                <h1 id="content"><%= title 'Listing Articles' %></h1>
            </div>
        </div>
    </div>
    <hr class="article-list-title-divider">
    <div class="row">
        <div class="col-12">
            <div class="">
                <%= render 'article_list', obj: @articles %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="">
                <div class="digg_pagination" align="center">
                    <%= will_paginate %>
                </div>
            </div>
        </div>
    </div>

    <% if is_admin? %>
        <div class="row">
            <div class="col-12">
                <div class="">
                    <%= link_to 'New', new_article_path(), class: "btn btn-success float-sm-right" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1>Unpublished</h1>
                <hr>
                <%= render 'article_list', obj: @unpublished %>
            </div>
        </div>
    <% end %>
</div>