<div class="container">
    <div class="row">
        <!-- Article body -->
        <div class="col-9">
            <h1 id="article-show-title"><%= @article.title %></h1>
            <hr class="article-list-title-divider">
            <div id="article-show-body" class="">
                <%= @article.content.html_safe %>
                <br />
            </div>
            <div class="">
                <%= render "article_navigation" %>
            </div>
            <div id="article-url" value="<%= request.original_url %>" style="display:none"></div>
            <div id="article-id" value="<%= @article.id %>" style="display:none"></div>
            <hr>
            <div id="disqus_thread"></div>
        </div>

        <!-- Sidebar -->
        <div class="col-3">
            <div class="card card-outline-secondary" id="article-show-sidebar">
                <h3 class="card-header" id="article-show-sidebar-title">About This Article</h3>
                <div class="card-block">
                    <p class="card-text" id="article-show-sidebar-timestamps">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i> <%= @article.created_at.strftime('%B %d, %Y') %><br>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= @article.updated_at.strftime('%B %d, %Y') %>
                        </p>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <script>
        var disqus_config = function () {
            this.page.url = document.getElementById("article-url").getAttribute("value"); 
            this.page.identifier = document.getElementById("article-id").getAttribute("value");
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://jchavez-code.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>