<div id="article-url" value="<%= request.original_url %>" style="display:none"></div>
<div id="article-id" value="<%= @article.id %>" style="display:none"></div>

<h1><%= @article.title %></h1>
<div class="row">
    <div class="col col-md-8">

        <!-- Article -->
        <div class="panel panel-default">
            <div class="panel-body">
                <%= @article.content.html_safe %>
                <%= render "article_navigation", :article => @article %>
            </div>
        </div>
        <!-- End Article -->

        <!-- Comments -->
        <h3>Discussion</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="disqus_thread"></div>
            </div>
        </div>
        <!-- End Comments -->
    </div>

    <!-- Sidebar -->
    <div class="col-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="page-header">Article Information</h5>
                <span class="next-episode-card text-center">
                <i class="fa fa-newspaper-o" aria-hidden="true" title="Published on"></i>
                <%= @article.created_at.strftime('%B %d, %Y') %><br>
                <% if @article.created_at.to_i != @article.updated_at.to_i %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true" title="Updated on"></i>
                    <%= @article.updated_at.strftime('%B %d, %Y') %>
                <% end %>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<script>
    var disqus_config = function () {
        this.page.url = document.getElementById("article-url").getAttribute("value");
        this.page.identifier = document.getElementById("article-id").getAttribute("value");
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
            s = d.createElement('script');
        s.src = 'https://jchavez-code.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<% ahoy.track "Article", article: @article.slug %>