<div class="row">
    <div class="col-xs-12">
        <div class="cliente">
            <%= @article.title %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="cliente">
            <%= @article.created_at %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="cliente">
            <%= @article.updated_at %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="cliente">
            <%= @article.content.html_safe %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="cliente">
            <%= render "article_navigation" %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="cliente">
            <%= render "article_actions" %>
        </div>
    </div>
</div>
